.menu {
  height: 440px;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
}

.item {
  height: 40px;
  padding: 10px;
  text-align: center;
}

.item1 {
  height: 40px;
  padding: 0px;
  text-align: center;
}


